<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="Orlando Saraiva do Nascimento Júnior">
  
  <title>Cadastro Eleitores - Projeto Exemplo</title>
</head>
<body>
<br><br>
    <form action={% url 'core:cadastro' %} novalidate method="GET">
        <input type="submit" value="Cadastro"/>              
    </form>
</body>

</html>